{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h2></h2>
    <p>Deal of the day</p>

    <img src="workplace.jpg" alt="Workplace" usemap="#workmap" width="400" height="379">

    <map name="workmap">
        <area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm">
        <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
        <area shape="circle" coords="337,300,44" alt="Cup of coffee" href="coffee.htm">
    </map>
    <h1>Laptop</h1>
    <h1>Description   </h1>
    <h1>Price </h1>
    <h1>Discounted Price</h1>
    <h1>Quantity</h1>
    <h1>Date</h1>

    <h1 align="center">Reviews</h1>
    <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
      <li class="list-group-item">
        {{ note.data }}
        <button type="button" class="close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </li>
      {% endfor %}
    </ul>
    <form method="POST">
      <textarea name="Review" id="note" class="form-control"></textarea>
      <br />
      <div align="center">
        <button type="submit" class="btn btn-primary">Add Review</button>
      </div>
    </form>
    {% endblock %}